/* List.css */

.table {
    margin: auto;
    border: 1px solid #dee2e6;
    border-collapse: collapse;

  }
  
  .table th,
  .table td {
    border: 1px solid #dee2e6;
    vertical-align: middle;
    padding: 8px;
  }
  
  .table th {
    background-color: #343a40;
    color: white;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #e9ecef;
  }
  
  .table button {
    background-color: #007bff;
    border: none;
  }
  
  .table button:hover {
    background-color: #0056b3;
  }
  